version: "3.8"

services:
  nextjs:
    build: .
    ports:
      - "3000:3000"
    networks:
      - nextjs-network
    restart: always
  nginx:
    image: nginx:1.19-alpine
    ports:
      - "80:80"
      - "443:443"
    networks:
      - nextjs-network
    restart: always
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
      - ./nginx/certs:/etc/nginx/certs
    depends_on:
      - nextjs
    networks:
      - nextjs-network
networks:
  nextjs-network:
    driver: bridge
